######################
# Intellij
######################
**/.idea/**
*.iml
*.iws
*.ipr
*.ids
*.orig

######################
# Maven
######################
**/log/**
**/target/**
pom.xml.versionsBackup

######################
# Gradle
######################
**/.gradle/**

######################
# Package Files
######################
*.jar
*.war
*.ear
*.db
